@media (min-width: 924px) {
  .root {
    display: flex;
    flex-direction: row;
  }
}

.main {
  flex-grow: 1;
  margin-bottom: 24px;
}

.main > header {
  position: relative;
}

.main > header > input[type="text"] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.home {
  float: right;
}

@media (min-width: 924px) {
  .home {
    margin-right: 24px;
  }
}

.transparent {
  opacity: 0;
}

.calendar {
  --day-size: calc((min(624px, 100vw) - 24px - 7px) / 7);
  border-left: solid 1px gray;
  border-top: solid 1px gray;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  width: calc(var(--day-size) * 7 + 1px);
}

.controls {
  display: flex;
  gap: 8px;
}
