@media (min-width: 924px) {
  .root {
    display: flex;
    flex-direction: row;
  }
}

.main {
  flex-grow: 1;
  margin-bottom: 24px;
}

.main > header {
  position: relative;
}

.main > header > input[type='text'] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.transparent {
  opacity: 0;
}

.controls {
  display: flex;
  gap: 8px;
}
