.scrim {
  align-items: flex-start;
  background: #00000099;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding-top: 48px;
  position: fixed;
  right: 0;
  top: 0;
}

.modal {
  background: white;
  border-radius: 8px;
  border: solid 1px #ccc;
  padding: 0 60px 24px 24px;
  position: relative;
}

.modal label {
  display: block;
  margin: 24px 0;
}

.closeButton {
  position: absolute;
  right: 12px;
  top: 20px;
}
